<div class="main-wrapper" *ngIf="orders.length else noData">
  <div class="main-wrapper--header">
    <button class="btn-filter effect effect-1" (click)="openFilterMenu(content)">Filters</button>
    <div class="info">
      <div class="queue">
        <p class="info--title">Черга: {{ getFulfilledOrder() }}</p>
      </div>
      <div>
        <input type="number" class="speed" placeholder="additional" max="10" min="1" [(ngModel)]="additionalNumber"
          (ngModelChange)="changeSpeed()">
      </div>
      <div>
        <input type="number" class="speed" placeholder="speed" max="10" min="1" [(ngModel)]="speed"
          (ngModelChange)="changeSpeed()">
      </div>
      <div class="downloaded">
        <p class="info--title">Завантажені до:</p>
        <input readonly disabled class="filters-data--dateDownloaded" placeholder="yyyy-mm-dd"
          [(ngModel)]="dateDownloaded">
      </div>
    </div>
  </div>
  <table class="table table-lg table-bordered mb-0">
    <thead>
      <tr class="center-data">
        <th scope="col" sortable="id_order" class="number-order">№ зам.</th>
        <th scope="col" sortable="data_order" class="data-order">Дата замовлення</th>
        <th class="color" scope="col" sortable="kolor_model">Кольори </th>
        <th class="code" scope="col" sortable="kod_model">Код</th>
        <th class="quantity" scope="col" sortable="quantity_pars_model">К-сть</th>
        <th scope="col" sortable="phase_1_model" class="phase"><span>1</span>
          <div class="phase-sum">{{ getSumPhases('phase_1') }}</div>
        </th>
        <th scope="col" sortable="phase_2_model" class="phase"><span>2</span>
          <div class="phase-sum">{{ getSumPhases('phase_2') }}</div>
        </th>
        <th scope="col" sortable="phase_3_model" class="phase"><span>3</span>
          <div class="phase-sum">{{ getSumPhases('phase_3') }}</div>
        </th>
        <th scope="col" sortable="money" class="money">Сума, грн</th>
        <th scope="col" sortable="money" class="phone">№ телефону</th>
        <th class="city" scope="col" sortable="sity">Місто</th>
        <th scope="col" sortable="data_plane_order" class="data_plane">Дата прогноз</th>
        <th scope="col" sortable="fulfilled_order" class="done">OK</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let order of orders; let i = index">
        <tr class="table--row">
          <td [class.yellow]="order.comment_order" ngxTooltip [tooltipContent]="order.comment_order">
            <a class="clickable" target="_blank" [routerLink]="['/create-order', {id: order.id_order}]">{{
              order.id_order }}</a>
          </td>
          <td>{{ order.data_order | date: 'yyyy-MM-dd'}}</td>
          <ng-container *ngIf="isArray(order.kolor_model); else oneItem">
            <td class="td-left">
              <div [id]="'kolorModel-' + j + '-' + i" class="bb_solid pl5"
                *ngFor="let kolor_model of order.kolor_model; let j = index">
                {{ kolor_model }}
              </div>
            </td>
            <td class="td-left">
              <div class="bb_solid pl5" [ngStyle]="changeHeight(j, i)" ngxTooltip
                [tooltipContent]="order.comment_model[i]" [ngClass]="checkCode(kod_model, order.comment_model[i])"
                *ngFor="let kod_model of order.kod_model; let j = index">
                <a class="clickable" target="_blank"
                  [routerLink]="['/create-order', {codeModel: kod_model}]">{{kod_model}}</a>
              </div>
            </td>
            <td class="pl0">
              <div class="bb_solid" [ngStyle]="changeHeight(j, i)"
                *ngFor="let quantity_pars_model of order.quantity_pars_model;  let j = index">
                {{quantity_pars_model}}
              </div>
            </td>
            <td class="pl0">
              <div class="bb_solid phases" [ngStyle]="changeHeight(j, i)"
                *ngFor="let item of order.phase_1; let j = index" [class.green]="item === 0">
                <input (clickOutside)="clickOutsidePhaseMultiply(j, 'phase_1', order, 'phase_1'+ i + j)" type="number"
                  [value]="item" [id]="'phase_1'+ i + j" class="phase-input"
                  (click)="changePhases('phase_1', $event, item)" (change)="changePhases('phase_1', $event, item)"
                  (keyup.enter)="sendPhases(order, j, 'phase_1', $event, item)">
              </div>
            </td>
            <td class="pl0">
              <div class="bb_solid phases" [ngStyle]="changeHeight(j, i)"
                *ngFor="let item of order.phase_2; let j = index" [class.green]="item === 0">
                <input (clickOutside)="clickOutsidePhaseMultiply(j, 'phase_2', order, 'phase_2'+ i + j)" type="number"
                  [value]="item" [id]="'phase_2'+ i + j" class="phase-input"
                  (click)="changePhases( 'phase_2', $event, item)" (change)="changePhases('phase_2', $event, item)"
                  (keyup.enter)="sendPhases(order, j, 'phase_2', $event, item)">
              </div>
            </td>
            <td class="pl0">
              <div class="bb_solid phases" [ngStyle]="changeHeight(j, i)"
                *ngFor="let item of order.phase_3; let j = index" [class.green]="item === 0">
                <input (clickOutside)="clickOutsidePhaseMultiply(j, 'phase_3', order, 'phase_3'+ i + j)" type="number"
                  [value]="item" [id]="'phase_3'+ i + j" class="phase-input"
                  (click)="changePhases('phase_3', $event, item)" (change)="changePhases('phase_3', $event, item)"
                  (keyup.enter)="sendPhases(order, j, 'phase_3', $event, item)">
              </div>
            </td>
          </ng-container>

          <ng-template #oneItem>
            <!-- kolor_model -->
            <td class="td-left pl5">
              {{ order.kolor_model }}
            </td>
            <!-- kod_model -->
            <td class="td-left pl5" ngxTooltip [tooltipContent]="order.comment_model"
              [class]="checkCode(order.kod_model, order.comment_model)">
              <a class="clickable" target="_blank"
                [routerLink]="['/create-order', {codeModel: order.kod_model}]">{{order.kod_model}}</a>
            </td>
            <td>
              {{ order.quantity_pars_model }}
            </td>
            <td [class.green]="order.phase_1 === 0">
              <input (clickOutside)="clickOutsidePhaseSingle(i, 'phase_1', order, phase1)" type="number"
                [(value)]="order.phase_1" class="phase-input" #phase1 (click)="changePhase(order, 'phase_1', $event)"
                (change)="changePhase(order, 'phase_1', $event)" (keyup.enter)="sendPhase(order, 'phase_1', $event)">
            </td>
            <td [class.green]="order.phase_2 === 0">
              <input type="number" (clickOutside)="clickOutsidePhaseSingle(i, 'phase_2', order, phase2)"
                [(value)]="order.phase_2" class="phase-input" #phase2 (click)="changePhase(order, 'phase_2', $event)"
                (change)="changePhase(order, 'phase_2', $event)" (keyup.enter)="sendPhase(order, 'phase_2', $event)">
            </td>
            <td [class.green]="order.phase_3 === 0">
              <input type="number" (clickOutside)="clickOutsidePhaseSingle(i, 'phase_3', order, phase3)"
                [(value)]="order.phase_3" class="phase-input" #phase3 (click)="changePhase(order, 'phase_3', $event)"
                (change)="changePhase(order, 'phase_3', $event)" (keyup.enter)="sendPhase(order, 'phase_3', $event)">
            </td>
          </ng-template>

          <td class="td-left pl5" [class]="getColorForMoney(order)">{{ order.sum_payment + ' / ' +( order.real_money ||
            0) + ' / ' + getMoney((order.sum_payment - order.real_money).toFixed(2))}}</td>
          <td class="td-left pl5 phone-client">
            <a class="clickable" target="_blank"
              [routerLink]="['/create-order', {phoneClient: order.phone_client}]">{{order.phone_client | mask:
              '00-000-000-00-00' || '-'}}</a>
          </td>
          <td class="td-left pl5" [class.green]="isHasCity(order.sity)" ngxTooltip
            [tooltipContent]="tooltipCity(order)">
            <a class="clickable" target="_blank"
              [routerLink]="['/create-order', {phoneRecipient: order.phone_recipient}]">{{order.sity}}</a>
          </td>
          <td>{{ order.data_plane_order | date: 'yyyy-MM-dd'}}</td>
          <td>
            <button class="check-btn" (click)="makeDone(order.id_order, !order.fulfilled_order, i)">
              <img class="check-icon"
                [src]="order.fulfilled_order ? './assets/img/icons/check.svg' : './assets/img/icons/uncheck.svg'" />
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<ng-template #noData>
  <div class="nodata">
    Немає записів
  </div>
</ng-template>

<div *ngIf="isShowSpinner" class="d-flex justify-content-center spinner-wrapper">
  <div class="spinner-border spinner-border-sm" role="status" aria-hidden="true">
  </div>
</div>

<ng-template #content let-offcanvas>
  <div class="filters-wrapper">
    <div class="filters-wrapper--title">
      <span>Filters</span>
      <span class="close" (click)="closeFilterMenu()"></span>
    </div>
    <div class="filters-wrapper--body" [formGroup]="filtersForm">
      <div class="filters-date">
        <div class="filters-data">
          <div class="filters-data--title">дата від</div>
          <input class="filters-data--datapicker" placeholder="yyyy-mm-dd" (click)="calendarDataStart.toggle()"
            [minDate]="{year: 2016, month: 1, day: 1}" [maxDate]="filtersForm.value.dataEnd" formControlName="dataStart"
            ngbDatepicker #calendarDataStart="ngbDatepicker">
          <button class="filters-data--datapicker-remove" (click)="removeData('dataStart')">&#10005;</button>
        </div>
        <div class="filters-data">
          <div class="filters-data--title">дата до</div>
          <input class="filters-data--datapicker" placeholder="yyyy-mm-dd" (click)="calendarDataEnd.toggle()"
            [minDate]="filtersForm.value.dataStart" formControlName="dataEnd" ngbDatepicker
            #calendarDataEnd="ngbDatepicker">
          <button class="filters-data--datapicker-remove" (click)="removeData('dataEnd')">&#10005;</button>
        </div>
      </div>
      <div class="filters-data">
        <div class="filters-data--title"> Готовність</div>
        <ng-select formControlName="fulfilled" bindLabel="name" class="done" bindValue="value" [clearable]="false"
          [items]="fulfilledOrderItems"></ng-select>
      </div>
      <div class="outline"></div>
      <div class="filters-data"
        [class.disabled]="filtersForm.value.id_client || filtersForm.value.team || filtersForm.value.city || filtersForm.value.coach">
        <div class="filters-data--title">№ телефону</div>
        <ng-select [clearOnBackspace]="false" notFoundText="No phone founded"
          (search)="changeFiled($event, 'ur_phone', 4, 'phone_client')" type="number" (change)="clearFilterData()"
          formControlName="phone_client" [items]="dataFilters"></ng-select>
      </div>
      <div class="filters-data"
        [class.disabled]="filtersForm.value.phone_client || filtersForm.value.team || filtersForm.value.city || filtersForm.value.coach">
        <div class="filters-data--title">Прізвище клієнта</div>
        <ng-select [clearOnBackspace]="false" notFoundText="No second name founded"
          (search)="changeFiled($event, 'ur_second_name', 3)" type="number" bindLabel="secondName" bindValue="id"
          (change)="clearFilterData()" formControlName="id_client" [items]="dataFilters"></ng-select>
      </div>
      <div class="filters-data"
        [class.disabled]="filtersForm.value.phone_client || filtersForm.value.coach || filtersForm.value.city || filtersForm.value.id_client">
        <div class="filters-data--title">Команда</div>
        <ng-select [clearOnBackspace]="false" notFoundText="No phone founded"
          (search)="changeFiled($event, 'ur_team', 3, 'name_team')" type="number" formControlName="team"
          (change)="clearFilterData()" [items]="dataFilters"></ng-select>
      </div>
      <div class="filters-data"
        [class.disabled]="filtersForm.value.phone_client || filtersForm.value.team || filtersForm.value.coach || filtersForm.value.id_client">
        <div class="filters-data--title">Місто</div>
        <ng-select [clearOnBackspace]="false" notFoundText="No phone founded"
          (search)="changeFiled($event, 'ur_sity', 3, 'sity')" type="number" (change)="clearFilterData()"
          formControlName="city" [items]="dataFilters"></ng-select>
      </div>
      <div class="filters-data"
        [class.disabled]="filtersForm.value.phone_client || filtersForm.value.team || filtersForm.value.city || filtersForm.value.id_client">
        <div class="filters-data--title">Тренер</div>
        <ng-select [clearOnBackspace]="false" notFoundText="No phone founded"
          (search)="changeFiled($event, 'ur_coach', 3, 'name_coach')" type="number" (change)="clearFilterData()"
          formControlName="coach" [items]="dataFilters"></ng-select>
      </div>
      <div class="outline"></div>
      <div class="filters-data"
        [class.disabled]="filtersForm.value.kod_model_like || filtersForm.value.kolor_model_like">
        <div class="filters-data--title">Код моделі</div>
        <ng-select [clearOnBackspace]="false" notFoundText="No phone founded"
          (search)="changeFiled($event, 'ur_kod', 3, 'kod_model')" type="number" formControlName="kod_model"
          [items]="dataFilters"></ng-select>
      </div>
      <div class="filters-data" [class.disabled]="filtersForm.value.kod_model || filtersForm.value.kolor_model_like">
        <div class="filters-data--title">Збіг у коді моделі</div>
        <input [clearOnBackspace]="false" notFoundText="No phone founded" (search)="changeFiled($event)" type="text"
          class="filters-data--input" formControlName="kod_model_like" [items]="dataFilters">
      </div>
      <div class="filters-data" [class.disabled]="filtersForm.value.kod_model || filtersForm.value.kod_model_like">
        <div class="filters-data--title">Збіг у кольорі</div>
        <input [clearOnBackspace]="false" notFoundText="No phone founded" (search)="changeFiled($event)" type="text"
          class="filters-data--input" formControlName="kolor_model_like" [items]="dataFilters">
      </div>
    </div>
    <div class="filters-wrapper--footer">
      <button class="filters-reset" (click)="resetFilters()">Скинути фільтри</button>
      <button class=" btn-send-filters" (click)="applyFilters()">Застосувати</button>
    </div>
  </div>
</ng-template>

<app-alert *ngIf="alert.isShow" [type]="alert.type" [message]="alert.message"
  (closed)="alertChange($event)"></app-alert>