.main-table
  margin: 20px 50px
  display: flex
  justify-content: center

.table
  margin-top: 20px
  width: 100%
  & .center-data
    & .number-order
      width: 61px
    & .data-order
      width: 98px
    & .color
      width: 217px
    & .code
      width: 157px
    & .money
      width: 194px
    & .phone
      width: 133px
    & .quantity
      width: 41px
    & .sity
      width: 125px
    & .data_plane
      width: 98px
    & .downloaded
      width: 41px
    & .phase
      width: 20px

.clickable
  color: #111
  text-decoration: none
  &:hover
    color: #7a7979
