<div class="page base-page-wrapper pl41 pr40">
  <div class="base-page-header">
  <div class="filters">
    <div class="filters-data">
      <p class="filters-data--title"> готовність</p>
      <ngx-datepicker
      class="filters-data--datapicker"
      [options]="options"
    ></ngx-datepicker>
    </div>
    <div class="filters-data">
      <p class="filters-data--title">дата від</p>
      <ngx-datepicker
      class="filters-data--datapicker"
      [options]="options"
    ></ngx-datepicker>
    </div>
    <div class="filters-data">
      <p class="filters-data--title">дата до</p>
      <ngx-datepicker
      class="filters-data--datapicker"
      [options]="options"
    ></ngx-datepicker>
    </div>
    <div class="filters-phone">
      <p class="filters-data--title">№ телефону</p>
      <input class="filters-data--phone" type="text">
    </div>
    <button class="filters-data--save">
      Застосувати
    </button>
  </div>
  <div class="info">
    <div class="queue">
      <p class="info--title">Черга: {{ getFulfilledOrder() }}</p>

    </div>
    <div>
      <input type="text" class="speed" placeholder="швидкість">
    </div>
    <div class="downloaded">  
      <p class="info--title">Завантажені до:</p>
      <ngx-datepicker
      class="filters-data--datapicker"
      [options]="options"
    ></ngx-datepicker>
    </div>
  </div>
</div>
  <div class="table-responsive container-fluid table">
    <table class="table table-lg table-bordered mb-0 border-primary">
      <thead>
      <tr class="center-data">
        <th scope="col" sortable="id_order" class="number-order" (sort)="onSort($event)">№ замл.</th>
        <th scope="col" sortable="data_order" class="data-order" (sort)="onSort($event)">Дата замовлення</th>
        <th class="color" scope="col" sortable="kolor_model" (sort)="onSort($event)">Кольори </th>
        <th class="code" scope="col" sortable="kod_model" (sort)="onSort($event)">Код</th>
        <th class="quantity" scope="col" sortable="quantity_pars_model" (sort)="onSort($event)">К-сть</th>
        <th scope="col" sortable="phase_1_model" class="phase" (sort)="onSort($event)">1</th>
        <th scope="col" sortable="phase_2_model" class="phase"(sort)="onSort($event)">2</th>
        <th scope="col" sortable="phase_3_model" class="phase" (sort)="onSort($event)">3</th>
        <th scope="col" sortable="money" class="money">Сума, грн</th>
        <th scope="col" sortable="money" class="phone">№ телефону</th>
        <th class="sity" scope="col" sortable="sity" (sort)="onSort($event)">Місто</th>
        <th scope="col" sortable="data_plane_order" class="data_plane" (sort)="onSort($event)">Дата прогноз</th>
        <th scope="col" sortable="fulfilled_order" class="done">OK</th>
      </tr>
      </thead>
      <tbody>
        <ng-container  *ngFor="let order of ordersRow">
          <tr class="table--row">
            <td ngxTooltip [tooltipContent]="order.comment_order">{{ order.id_order }}</td>
            <td>{{ order.data_order | date: 'yyyy-mm-dd'}}</td>
            <ng-container *ngIf="checkArray(order.kolor_model); else oneItem">
             <!-- kolor_model -->
              <td>
                <div class="bb_solid" *ngFor="let kolor_model of order.kolor_model">
                  {{ kolor_model }}
                </div>
              </td>
               <!-- kod_model -->
              <td>
                <div class="bb_solid" ngxTooltip [tooltipContent]="order.comment_model[i]"  class="bb_solid" [ngClass]="checkCode(kod_model, order.comment_model[i], i)" *ngFor="let kod_model of order.kod_model; let i = index">
                 {{kod_model}}
                </div>
              </td>
              <td>
                <div class="bb_solid" *ngFor="let quantity_pars_model of order.quantity_pars_model">
                  {{quantity_pars_model}}
                </div>
              </td>
              <td>
                <div class="bb_solid" *ngFor="let item of order.phase_1_model">
                  <button class="check-btn">
                    <img class="check-icon" [src]="order.phase_1_model ? './assets/img/icons/check.svg' : './assets/img/icons/uncheck.svg'" />
                  </button>
                </div>
              </td>
              <td>
                <div class="bb_solid" *ngFor="let item of order.phase_2_model">
                  <button class="check-btn">
                    <img class="check-icon" [src]="order.phase_2_model ? './assets/img/icons/check.svg' : './assets/img/icons/uncheck.svg'" />
                  </button>
                </div>
              </td>
              <td>
                <div class="bb_solid" *ngFor="let item of order.phase_3_model">
                  <button class="check-btn">
                    <img class="check-icon" [src]="order.phase_3_model ? './assets/img/icons/check.svg' : './assets/img/icons/uncheck.svg'" />
                  </button>
                </div>
              </td>
            </ng-container>

            <ng-template #oneItem>
               <!-- kolor_model -->
              <td>
                {{ order.kolor_model }}
              </td>
              <!-- kod_model -->
              <td ngxTooltip [tooltipContent]="order.comment_model" [classList]="checkCode(order.kod_model, order.comment_model)">
                {{ order.kod_model }}
              </td>
              <td>
                {{ order.quantity_pars_model }}
              </td>
              <td>
                <button class="check-btn">
                  <img class="check-icon" [src]="order.phase_1_model ? './assets/img/icons/check.svg' : './assets/img/icons/uncheck.svg'" />
                </button>
              </td>
              <td>
                <button class="check-btn">
                  <img class="check-icon" [src]="order.phase_2_model ? './assets/img/icons/check.svg' : './assets/img/icons/uncheck.svg'" />
                </button>
              </td>
              <td>
                <button class="check-btn">
                  <img class="check-icon" [src]="order.phase_3_model ? './assets/img/icons/check.svg' : './assets/img/icons/uncheck.svg'" />
                </button>
              </td>
            </ng-template>

            <td [classList]="countMoney(order)">{{ order.sum_payment + ' / ' + order.real_money + ' / ' + order.left_money }}</td>
            <td>{{ order.telephone }}</td>
            <td>{{ order.sity }}</td>
            <td>{{ order.data_plane_order | date: 'yyyy-mm-dd'}}</td>
            <td>
              <button class="check-btn">
                <img class="check-icon" [src]="order.fulfilled_order ? './assets/img/icons/check.svg' : './assets/img/icons/uncheck.svg'" />
              </button>
            </td>
          </tr>
    </ng-container>
      </tbody>
    </table>
  </div>

</div>
