.base-page-wrapper
  display: flex
  padding-top: 2rem
  flex-direction: column

::ng-deep 
  .base-page-wrapper
    .ng-dropdown-panel.ng-select-bottom
      background: #b0adad
      border-radius: 10px
p
  margin-bottom: 0px !important

.clickable
  color: #111
  text-decoration: none
  &:hover
    text-decoration: underline
.base-page-header
  display: flex
  margin-bottom: 21px
  justify-content: space-between
  align-items: flex-end
  .filters  
    display: flex
    gap: 24px
  .filters-data
    position: relative
    &--datapicker
      width: 104px
      height: 25px
      background: #FFFFFF
      border: 0.5px solid #727272
      border-radius: 25px
    &--dateDownloaded
      background: none
      color: #111
      font-weight: 600
      font-size: 16px
      width: 115px
    &--title
      color: #727272
      font-weight: 400
      font-size: 16px
      line-height: 12px
      margin-bottom: 3px !important
    &--phone
      width: 142px
      height: 25px
      background: #FFFFFF
      border: 0.5px solid #727272
      border-radius: 25px
      padding-left: 5px
    &--save
      width: 104px
      height: 25px
      background: #32FA00
      border-radius: 25px
      border: none
      align-self: flex-end
      text-transform: uppercase
      font-size: 13px
      font-weight: 700
      color: #fff
    & .done
      width: 104px
      height: 25px
      background: #FFFFFF
      border: 0.5px solid #727272
      border-radius: 25px
      padding-left: 5px
    &--datapicker-remove
        border: none
        background: none
        position: absolute
        right: 0
        color: #999
  .info
    display: flex
    align-items: center
    &--title
      font-weight: 400
      font-size: 16px
      line-height: 12px
    & .speed
      width: 90px
      height: 25px
      background: #FFFFFF
      border: 0.5px solid #727272
      border-radius: 25px
      margin-left: 24px
      margin-right: 18px
      text-align: center
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
    & .downloaded
      display: flex
      align-items: center
      & ::ng-deep
        input
          border: none
          margin-left: 5px
.center-data
  height: 44px
  .phase
    width: 41px
    & div
      color: #a0a0a0
  .number-order
    width: 61px
  .data-order
    width: 98px
  .color
    width: 217px
  .code
    width: 157px
  .money
    width: 194px
  .phone
    width: 133px
  .quantity
    width: 41px
  .sity
    width: 125px
  .data_plane
    width: 98px
  .downloaded
    width: 41px


.table
  width: auto
  &--row
    td
      vertical-align: inherit
      padding: 0px
      border: 0.5px solid #111
      font-size: 16px

.check-btn
  border: none
  padding: 0px
  &:active
    transform: scale(0.8)
  & .check-icon
    height: 15px

.phase-input
  width: 100%
  border: none
  background: transparent
  opacity: 0.6
  text-align: center

.red
  background: #F4B3B3

.yellow
  background: #ECE9A9

.green
  background: #B7F5B2

.light-pink
  background: #EDD0EE

.light-blue
  background: #C9FBEC

.calendar-wrapper
  display: flex
  flex-direction: column

::ng-deep .base-page-wrapper
  .calendar-container
    width: 180px !important
  ngx-datepicker
    &.disabled
      & input
        pointer-events: none
      & .datepicker-container.datepicker-default
        cursor: not-allowed
    & input
      width: 104px !important
      height: 25px
      background: #FFFFFF
      border: 0.5px solid #727272
      border-radius: 25px
      width: 170px
      border-radius: 25px
      font-weight: 600

.calendar
  margin-top: 20px

.check-btn
  background: none

.phone-client
  width: 150px

input[type=number]::-webkit-inner-spin-button 
  -webkit-appearance: none

::ng-deep .base-page-wrapper
  .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input
    top: 0
  .ng-select .ng-select-container .ng-value-container
    padding-left: 3px
  .ng-select .ng-select-container
    min-height: auto !important
    background: none
    border: none
  .ng-select.ng-select-single 
    .ng-select-container
      height: auto !important