<div class="page base-page-wrapper pl41 pr40">
  <div class="base-page-header">
  <div class="filters" [formGroup]="filtersForm">
    <div class="filters-data">
      <p class="filters-data--title"> готовність</p>
      <ng-select 
        formControlName="fulfilled_order"
        bindLabel="name"
        class="done" 
        bindValue="value" 
        [clearable]="false"
        [items]="fulfilledOrderItems"></ng-select>
    </div>
    <div class="filters-data">
      <p class="filters-data--title">дата від</p>
    <input class="filters-data--datapicker" placeholder="yyyy-mm-dd" (click)="calendarDataStart.toggle()" [minDate]="{year: 2016, month: 1, day: 1}"
    [maxDate]="{year: +todayYear, month: 12, day: 31}" formControlName="dataStart" ngbDatepicker #calendarDataStart="ngbDatepicker">
    <button class="filters-data--datapicker-remove" (click)="removeData('dataStart')">&#10005;</button>
    </div>
    <div class="filters-data">
      <p class="filters-data--title">дата до</p>

    <input class="filters-data--datapicker" placeholder="yyyy-mm-dd" (click)="calendarDataEnd.toggle()" [minDate]="{year: 2016, month: 1, day: 1}"
    [maxDate]="{year: +todayYear, month: 12, day: 31}" formControlName="dataEnd" ngbDatepicker #calendarDataEnd="ngbDatepicker">

    <button class="filters-data--datapicker-remove" (click)="removeData('dataEnd')">&#10005;</button>
    </div>
    <div class="filters-phone">
      <p class="filters-data--title">№ телефону</p>
      <ng-select 
        [clearOnBackspace]="false" 
        notFoundText="No phone founded"
        (search)="changePhone($event)" 
        class="filters-data--phone" 
        type="number" 
        formControlName="phone_client" 
        [items]="phoneClients" ></ng-select>
    </div>
    <button class="filters-data--save" (click)="applyFilters()">
      Застосувати
    </button>
  </div>
  <div class="info">
    <div class="queue">
      <p class="info--title">Черга: {{ getFulfilledOrder() }}</p>
    </div>
    <div>
      <input type="number" class="speed" placeholder="швидкість" max="10" min="1" [(ngModel)]="speed" (ngModelChange)="changeSpeed()">
    </div>
    <div class="downloaded">  
      <p class="info--title">Завантажені до:</p>
      <input
      readonly
      disabled
      class="filters-data--dateDownloaded"
      placeholder="yyyy-mm-dd"
      [(ngModel)]="dateDownloaded"
    >
    </div>
  </div>
</div>
  <div class="  mat-elevation-z8 table-responsive container-fluid table"  *ngIf="ordersRow.length else noData">
    <table class="table table-lg table-bordered mb-0 border-primary">
      <thead>
      <tr class="center-data">
        <th scope="col" sortable="id_order" class="number-order">№ замл.</th>
        <th scope="col" sortable="data_order" class="data-order">Дата замовлення</th>
        <th class="color" scope="col" sortable="kolor_model">Кольори </th>
        <th class="code" scope="col" sortable="kod_model">Код</th>
        <th class="quantity" scope="col" sortable="quantity_pars_model">К-сть</th>
        <th scope="col" sortable="phase_1_model" class="phase">1</th>
        <th scope="col" sortable="phase_2_model" class="phase">2</th>
        <th scope="col" sortable="phase_3_model" class="phase">3</th>
        <th scope="col" sortable="money" class="money">Сума, грн</th>
        <th scope="col" sortable="money" class="phone">№ телефону</th>
        <th class="sity" scope="col" sortable="sity">Місто</th>
        <th scope="col" sortable="data_plane_order" class="data_plane">Дата прогноз</th>
        <th scope="col" sortable="fulfilled_order" class="done">OK</th>
      </tr>
      </thead>
      <tbody>
        <ng-container  *ngFor="let order of ordersRow; let i = index">
          <tr  class="table--row">
            <td [class.yellow]="order.comment_order"  ngxTooltip [tooltipContent]="order.comment_order">{{ order.id_order }}</td>
            <td>{{ order.data_order | date: 'yyyy-MM-dd'}}</td>
            <ng-container *ngIf="checkArray(order.kolor_model); else oneItem">
             <!-- kolor_model -->
              <td class="td-left">
                <div class="bb_solid" *ngFor="let kolor_model of order.kolor_model">
                  {{ kolor_model }}
                </div>
              </td>
               <!-- kod_model -->
              <td class="td-left">
                <div class="bb_solid" ngxTooltip [tooltipContent]="order.comment_model[i]"  class="bb_solid" [ngClass]="checkCode(kod_model, order.comment_model[i], i)" *ngFor="let kod_model of order.kod_model; let i = index">
                 {{kod_model}}
                </div>
              </td>
              <td class="pl0">
                <div class="bb_solid" *ngFor="let quantity_pars_model of order.quantity_pars_model">
                  {{quantity_pars_model}}
                </div>
              </td>
              <td class="pl0">
                <div class="bb_solid" *ngFor="let item of order.phase_1_model; let i = index">
                  <button class="check-btn" (click)="changePhase(order, 'phase_1_model', i)">
                    <img class="check-icon" [src]="item ? './assets/img/icons/check.svg' : './assets/img/icons/uncheck.svg'" />
                  </button>
                </div>
              </td>
              <td class="pl0">
                <div class="bb_solid" *ngFor="let item of order.phase_2_model; let i = index">
                  <button class="check-btn" (click)="changePhase(order, 'phase_2_model', i)">
                    <img class="check-icon" [src]="item ? './assets/img/icons/check.svg' : './assets/img/icons/uncheck.svg'" />
                  </button>
                </div>
              </td>
              <td class="pl0">
                <div class="bb_solid" *ngFor="let item of order.phase_3_model; let i = index">
                  <button class="check-btn" (click)="changePhase(order, 'phase_3_model', i)">
                    <img class="check-icon" [src]="item ? './assets/img/icons/check.svg' : './assets/img/icons/uncheck.svg'" />
                  </button>
                </div>
              </td>
            </ng-container>

            <ng-template #oneItem>
               <!-- kolor_model -->
              <td class="td-left pl5">
                {{ order.kolor_model }}
              </td>
              <!-- kod_model -->
              <td class="td-left pl5" ngxTooltip [tooltipContent]="order.comment_model" [class]="checkCode(order.kod_model, order.comment_model)">
                {{ order.kod_model }}
              </td>
              <td>
                {{ order.quantity_pars_model }}
              </td>
              <td>
                <button class="check-btn" (click)="changePhase(order, 'phase_1_model')">
                  <img class="check-icon" [src]="order.phase_1_model ? './assets/img/icons/check.svg' : './assets/img/icons/uncheck.svg'" />
                </button>
              </td>
              <td>
                <button class="check-btn" (click)="changePhase(order, 'phase_2_model')">
                  <img class="check-icon" [src]="order.phase_2_model ? './assets/img/icons/check.svg' : './assets/img/icons/uncheck.svg'" />
                </button>
              </td>
              <td>
                <button class="check-btn" (click)="changePhase(order, 'phase_3_model')">
                  <img class="check-icon" [src]="order.phase_3_model ? './assets/img/icons/check.svg' : './assets/img/icons/uncheck.svg'" />
                </button>
              </td>
            </ng-template>

            <td class="td-left pl5" [class]="countMoney(order)">{{ order.sum_payment + ' / ' +( order.real_money || 0) + ' / ' + getMoney((order.sum_payment - order.real_money).toFixed(2))}}</td>
            <td class="td-left pl5 phone-client">{{ order.phone_client | mask: '00-000-000-00-00' || '-' }}</td>
            <td class="td-left pl5" [class.green]="sityColor(order.sity)" ngxTooltip [tooltipContent]="tooltipCity(order)">{{ order.sity }}</td>
            <td>{{ order.data_plane_order | date: 'yyyy-MM-dd'}}</td>
            <td>
              <button class="check-btn" (click)="makeDone(order.id_order, !order.fulfilled_order, i)">
                <img class="check-icon" [src]="order.fulfilled_order ? './assets/img/icons/check.svg' : './assets/img/icons/uncheck.svg'" />
              </button>
            </td>
          </tr>
    </ng-container>
      </tbody>
    </table>
  </div>
  <ng-template #noData>
    <div class="nodata">
      Немає записів
    </div>
  </ng-template>

</div>
