<div class="page pl63 mt20 pr37 reserve-page">
  <div class="reserve-tables">
    <div class="table-responsive table table-reserve">
      <table class="table table-lg table-bordered mb-0">
        <thead>
          <tr class="center-data">
            <th scope="col" sortable="id_order" class="id">Ном.</th>
            <th scope="col" sortable="data_order" class="color">колір</th>
            <th scope="col" sortable="width" class="width">ширина </th>
            <th scope="col" sortable="babin" class="babin">бабін</th>
            <th class="quantity" scope="col" sortable="quantity_pars_model" class="clean-width">чиста вага</th>
            <th class="epmty"></th>
            <th colspan="2" scope="col" sortable="id_order" class="mat-val ml22">мат / втулк</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let material of materials; let index = index">
            <tr>
              <td [class.grey]="idEditMaterial === material.id_material" (click)="openMaterial(material.id_material)">{{ getNumberMaterial(material.name) }}</td>
              <td [class.grey]="idEditMaterial === material.id_material" (click)="openMaterial(material.id_material)" class="name-color">{{
                material.name }}</td>
              <td [class.grey]="idEditMaterial === material.id_material" (click)="openMaterial(material.id_material)">{{ material.width}}</td>
              <td [class.grey]="idEditMaterial === material.id_material" (click)="openMaterial(material.id_material)"> {{ material.spool_qty}}</td>
              <td [class.grey]="idEditMaterial === material.id_material" (click)="openMaterial(material.id_material)">{{ material.net_weight}}</td>
   
              <td class="epmty"></td>
              <td class="white" [class.showTooltip-default]="isShowOk && idChangeMaterial === material.id_material">
                <input #tooltipElementWeight="ngbTooltip"     
                  triggers=""    
                  id="editWeight"
                  (clickOutside)="clearChangesMaterials()"
                  [exclude]="'#editSpoolQty, #btnOk'" 
                  [ngbTooltip]="" type="text" class="mat-val--intp weight"
                  [value]="material?.edit_weight"
                  (keyup)="changeMaterial(material, $event.target.value, 'edit_weight', material.id_material, index)"
                  (keyup.enter)="saveChangedMaterial(material, 'edit_weight', $event.target, index)">
              </td>
              <td class="white">
                  <input type="text" class="mat-val--intp" id="editSpoolQty"
                  (clickOutside)="clearChangesMaterials()" 
                  [exclude]="'#editWeight, #btnOk'" 
                  triggers=""
                  [ngbTooltip]=""
                  #tooltipElementQty="ngbTooltip"
                  [value]="material.edit_spool_qty"
                  (keyup)="changeMaterial(material, $event.target.value, 'edit_spool_qty', material.id_material, index)"
                  (keyup.enter)="saveChangedMaterial(material, 'edit_spool_qty', $event.target, index)">
              </td>
              <td class="row-btn">
                <button data-info="btn-ok" id="btnOk" (click)="saveChangesMaterial(material)"
                  class="btn-icon display-none" [class.display-show]="isShowOk && idChangeMaterial === material.id_material">
                  <img class="next-icon icon" src="./assets/img/icons/ok.svg" />
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <div class="wrapper-right">
      <div class="materials">
        <div class="materials-title title">Матеріали</div>
        <div class="materials-active">
          <p class="materials-active--title">наявність</p>
          <ng-select bindLabel="name" [(ngModel)]="availabilityData" [items]="availabilityFilters" bindValue="key" bindLabel="value">
          </ng-select>
        </div>
        <button class="materials-apply" (click)="getMaterialByFilter()">
          Застосувати
        </button>
      </div>
      <div class="block-edit" [formGroup]="materialForm" #blockEdit>
        <div class="edit-header">
          <p class="title"> {{ isNewMaterial ? 'Створити' : 'Редагувати'}}</p>
          <button (click)="startCreateMaterial()" class="create-btn">Створити</button>
        </div>
        <div class="edit-table">
          <div class="edit-table--field">
            <p class="edit-table--field-title">
              <input class="name-color" placeholder="назва матеріалу" formControlName="name">
            </p>
            <i *ngIf="materialForm.errors?.name"
            [ngbTooltip]="materialForm.errors.name" class="invalid invalid-name bi bi-exclamation"></i>
            <input type="text" class="edit-table--field-inp" formControlName="id_material" [readonly]="isNewMaterial">
          </div>
          <div class="edit-table--field">
            <p class="edit-table--field-title">ширина, мм</p>
            <i *ngIf="materialForm.errors?.width"
            [ngbTooltip]="materialForm.errors.width" class="invalid bi bi-exclamation"></i>
            <input type="number" class="edit-table--field-inp" formControlName="width">
          </div>
          <div class="edit-table--field">
            <p class="edit-table--field-title">товщина, мкм</p>
            <i *ngIf="materialForm.errors?.thickness"
            [ngbTooltip]="materialForm.errors.thickness" class="invalid bi bi-exclamation"></i>
            <input type="number" class="edit-table--field-inp" formControlName="thickness">
          </div>
          <div class="edit-table--field">
            <p class="edit-table--field-title">виробник</p>
            <i *ngIf="materialForm.errors?.manufacturer"
            [ngbTooltip]="materialForm.errors.manufacturer" class="invalid bi bi-exclamation"></i>
            <input type="text" class="edit-table--field-inp" formControlName="manufacturer">
          </div>
          <div class="edit-table--field">
            <p class="edit-table--field-title">вага втулки, гр</p>
            <i *ngIf="materialForm.errors?.spool_weight"
            [ngbTooltip]="materialForm.errors.spool_weight" class="invalid bi bi-exclamation"></i>
            <input type="number" class="edit-table--field-inp" formControlName="spool_weight">
          </div>
          <div class="edit-table--field">
            <p class="edit-table--field-title">вага (10м), гр</p>
            <i *ngIf="materialForm.errors?.weight_10m"
            [ngbTooltip]="materialForm.errors.weight_10m" class="invalid bi bi-exclamation"></i>
            <input type="number" class="edit-table--field-inp" formControlName="weight_10m">
          </div>
          <div class="edit-table--field">
            <p class="edit-table--field-title">резерв, гр</p>
            <input type="number" class="edit-table--field-inp" formControlName="reserve">
            <i *ngIf="materialForm.errors?.reserve"
            [ngbTooltip]="materialForm.errors.reserve" class="invalid bi bi-exclamation"></i>
          </div>
          <div class="edit-table--field">
            <p class="edit-table--field-title">кількість бабін</p>
            <i *ngIf="materialForm.errors?.spool_qty"
            [ngbTooltip]="materialForm.errors.spool_qty" class="invalid bi bi-exclamation"></i>
            <input type="number" class="edit-table--field-inp" formControlName="spool_qty">
          </div>
          <div class="edit-table--field">
            <p class="edit-table--field-title">повна вага</p>
            <i *ngIf="materialForm.errors?.weight"
            [ngbTooltip]="materialForm.errors.weight" class="invalid bi bi-exclamation"></i>
            <input type="number" class="edit-table--field-inp" formControlName="weight">
          </div>
          <div class="edit-table--field-note">
            <textarea type="text" class="edit-table--field-note-inp" placeholder="примітка" formControlName="comment">
            </textarea>
          </div>
        </div>
        <button class="save-btn" *ngIf="isNewMaterial" (click)="saveMaterial()" [disabled]="materialForm.invalid">
          Зберегти
        </button>
        <button class="action-btn edit-btn" *ngIf="!isNewMaterial" (click)="editMaterial()" [disabled]="materialForm.invalid">
          Редагувати
        </button>
      </div>
    </div>
 
  </div>

</div>

<div *ngIf="isShowSpinner" class="d-flex justify-content-center spinner-wrapper">
  <div class="spinner-grow spinner-border-sm" role="status" aria-hidden="true">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<app-alert *ngIf="alert.isShow" [type]="alert.type" [message]="alert.message" (closed)="alertChange($event)">
</app-alert>