.page
  position: relative
  
.grey 
  background: #E5E9F2

.white
  background: transparent !important

.table-reserve
  .epmty
    width: 22px
    border: none !important
    background: none !important
  tr
    height: 26px !important
  .id
    width: 52px
  .color
    width: 245px
  .width
    width: 72px
  .babin
    width: 61px
  .clean-width
    width: 104px
  .model
    width: 104px
  .pars
    width: 74px
  .mat-val
    width: 171px
    text-align: center
    &--intp
      width: 85px
      height: 26px
      border: none
      padding: 0 !important
      margin: 0
      background: transparent
      &:active 
        display: block
  &--materials
    margin: 0px 17px 0px 22px
    margin-left: 22px !important

.name-color
  text-align: left
  padding-left: 5px
.reserve-tables
  display: flex

.title
  font-weight: 700
  font-size: 18px
  line-height: 12px

  color: #727272
  margin-bottom: 12px

.materials
  margin-bottom: 26px
  margin-left: 135px
  &-title
    text-align: center
  &-apply
    width: 185px
    height: 25px
    background: #32FA00
    border-radius: 25px
    border: none
    font-weight: 700
    font-size: 13px
    line-height: 12px
    text-transform: uppercase
    color: #fff
    margin-top: 26px
  &-active
    &--title
      font-size: 16px
      line-height: 12px
      color: #727272


  ::ng-deep
    .ng-select
      width: 185px
      height: 25px
      background: #FFFFFF
      border: 0.5px solid #727272
      border-radius: 25px
      .ng-select-container .ng-value-container .ng-input>input
        padding-left: 10px
  
.block-edit
  display: flex
  width: 256px
  flex-direction: column
  align-items: flex-end
  position: fixed
  left: 1049px
  top: 200px
  & .edit-header
    display: flex
    justify-content: space-between
    width: 100%
    align-content: center
    align-items: center
    margin-bottom: 5px
    & .create-btn
      border: none
      background: #7dcb69
      border-radius: 25px
      font-weight: 700
      font-size: 13px
      line-height: 12px
      height: 26px
      width: 80px
      color: #ffffff
      text-transform: uppercase
      margin-top: 7px
.edit-table
    width: 280px
    border: 3px solid #203B4A
    margin-top: 2px
    &--field
      display: flex
      background: #E5E9F2
      &-title
        width: 186px
        height: 26px
        background: #E5E9F2
        border-bottom: 0.5px solid #203B4A
        border-right: 0.5px solid #203B4A
        padding-left: 16px
        &.name-color
          border: none
          width: 185px
          background: #E5E9F2
          margin: 0
          padding: 0
          padding-left: 16px
          border-bottom: 0.5px solid #203B4A
          border-right: 0.5px solid #203B4A
          &:focus
            outline: none
            border-bottom: 0.5px solid #203B4A
      &-inp
        width: 87px
        border: none
        background: #E5E9F2
        border-bottom: 0.5px solid #203B4A
        padding: 0
        padding-left: 4px
        margin: 0
        box-sizing: content-box
        &:focus
          outline: none
          border-bottom: 0.5px solid #203B4A
      &-note
        background: #E5E9F2
        border-top: 3px solid #203B4A
        height: auto
        min-height: 30px
        &-inp
          border: none
          width: 100%
          height: 100%
          margin: 0
          padding: 0
          padding: 4px
          padding-bottom: 0
          background: #E5E9F2
          &:focus
            outline: none
            border: none
          
.save-btn
  border: none
  background: #32FA00
  border-radius: 25px
  font-weight: 700
  font-size: 13px
  line-height: 12px
  height: 26px
  width: 77px
  color: #ffffff
  text-transform: uppercase
  margin-top: 7px

.display-none
  display: none

.display-show
  display: block

.reserve-page 
  margin-top: 4rem
  & .table th
    border: 1px solid #5d5d5d

::ng-deep .reserve-page
  .table-bordered th, .table-bordered td 
    border-color: #5d5d5d
  .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input
    top: 0
  .ng-select .ng-select-container .ng-value-container
    padding-left: 3px
  .ng-select .ng-select-container
    min-height: auto !important
    border: none
    background: none
  .ng-select.ng-select-single 
    .ng-select-container
      height: auto !important