<div>
  <div class="table-responsive container-fluid table table-reserve">
    <table class="table table-lg table-bordered mb-0 border-primary">
      <thead>
      <tr class="center-data">
        <th scope="col" sortable="id_order" class="id">id</th>
        <th scope="col" sortable="data_order" class="color">колір</th>
        <th scope="col" sortable="width" class="width">ширина </th>
        <th scope="col" sortable="babin" class="babin">бабін</th>
        <th class="quantity" scope="col" sortable="quantity_pars_model" class="clean-width">чиста вага</th>
        <th scope="col" sortable="phase_1_model" class="model">модель</th>
        <th scope="col" sortable="phase_2_model" class="pars">пар</th>
      </tr>
      </thead>
      <tbody>
        <ng-container  *ngFor="let item of reserveItems">
          <tr>
            <td>{{ item.id_color }}</td>
            <td>{{ item.name_color}}</td>
            <td>{{ item.width_color}}</td>
            <td>{{ item.bab_quantity_color }}</td>
            <td>{{ item.weight_color}}</td>
            <td>{{ item.model}}</td>
            <td>{{ item.pars}}</td>
          </tr>
    </ng-container>
      </tbody>
    </table>
  </div>
</div>
