<div class="page pl63 mt20 pr37 reserve-page">
  <div class="reserve-tables">
    <div class="table-responsive table table-reserve">
      <table class="table table-lg table-bordered mb-0 border-primary">
        <thead>
        <tr class="center-data">
          <th scope="col" sortable="id_order" class="id">id</th>
          <th scope="col" sortable="data_order" class="color">колір</th>
          <th scope="col" sortable="width" class="width">ширина </th>
          <th scope="col" sortable="babin" class="babin">бабін</th>
          <th class="quantity" scope="col" sortable="quantity_pars_model" class="clean-width">чиста вага</th>
          <th scope="col" sortable="phase_1_model" class="model">модель</th>
          <th scope="col" sortable="phase_2_model" class="pars">пар</th>
          <th class="epmty"></th>
          <th colspan="2" scope="col" sortable="id_order" class="mat-val ml22">мат / зміна / втулк</th>
        </tr>
        </thead>
        <tbody>
           <ng-container  *ngFor="let item of reserveItems; let index = index">
            <tr>
              <td [class.grey]="idEdit === item.id_color" (click)="editItem(item.id_color)">{{ item.id_color }}</td>
              <td [class.grey]="idEdit === item.id_color" (click)="editItem(item.id_color)" class="name-color">{{ item.name_color}}</td>
              <td [class.grey]="idEdit === item.id_color" (click)="editItem(item.id_color)">{{ item.width_color}}</td>
              <td [class.grey]="idEdit === item.id_color" (click)="editItem(item.id_color)"> {{ item.bab_quantity_color }}</td>
              <td [class.grey]="idEdit === item.id_color" (click)="editItem(item.id_color)">{{ item.weight_color}}</td>
              <td [class.grey]="idEdit === item.id_color" (click)="editItem(item.id_color)">{{ item.model}}</td>
              <td [class.grey]="idEdit === item.id_color" (click)="editItem(item.id_color)">{{ item.pars}}</td>
              <td class="epmty"></td>
              <td class="white"><input type="text" class="mat-val--intp"
                [value]="reverseItemsCorrect.controls[index].value.weight_color" 
                (change)="changeMaterial(reverseItemsCorrect.controls[index], $event.target.value, 'weight_color', item.id_color)"></td>
              <td class="white"><input type="text" class="mat-val--intp" 
                [value]="reverseItemsCorrect.controls[index].value.bab_quantity_color" 
                (change)="changeMaterial(reverseItemsCorrect.controls[index], $event.target.value, 'bab_quantity_color', item.id_color)"></td>
              <button (click)="saveChangesMat(item.id_color, reverseItemsCorrect.controls[index])" class="btn-icon display-none" [class.display-show]="!isHideOk && idChange.includes(item.id_color)">
                <img class="next-icon icon" src="./assets/img/icons/ok.svg" />
              </button>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
   
    <div class="materials">
      <div class="materials-title title">Матеріали</div>
      <div class="materials-active">
        <p class="materials-active--title">наявність</p>
        <ng-select 
           bindLabel="name" 
           [items]="materialFilter"
           (change)="filterMaterials($event)"
           bindValue="id" >
        </ng-select>
      </div>
      <button class="materials-apply">
        Застосувати
      </button>
    </div>
  </div>
  <div class="block-edit" [formGroup]="reverseItemData">
    <div class="edit-header">
      <p class="title"> {{ isNewMaterial ? 'Створити' : 'Редагувати'}}</p>
      <button (click)="createMaterial()" class="create-btn">Створити</button>
    </div>
    <div class="edit-table">
      <div class="edit-table--field">
        <input class="edit-table--field-title name-color" placeholder="назва матеріалу" formControlName="name_color">
        <input type="text" class="edit-table--field-inp" formControlName="id_color">
      </div>
      <div class="edit-table--field">
        <p class="edit-table--field-title">ширина, мм</p>
        <input type="text" class="edit-table--field-inp" formControlName="width_color">
      </div>
      <div class="edit-table--field">
        <p class="edit-table--field-title">товщина, мкм</p>
        <input type="text" class="edit-table--field-inp" formControlName="thickness_color">
      </div>
      <div class="edit-table--field">
        <p class="edit-table--field-title">виробник</p>
        <input type="text" class="edit-table--field-inp" formControlName="manufacturer_color">
      </div>
      <div class="edit-table--field">
        <p class="edit-table--field-title">вага втулки, гр</p>
        <input type="text" class="edit-table--field-inp" formControlName="bab_weight_color">
      </div>
      <div class="edit-table--field">
        <p class="edit-table--field-title">вага (10м), гр</p>
        <input type="text" class="edit-table--field-inp" formControlName="weight_10m_color">
      </div>
      <div class="edit-table--field">
        <p class="edit-table--field-title">резерв, гр</p>
        <input type="text" class="edit-table--field-inp" formControlName="reserve_color">
      </div>
      <div class="edit-table--field">
        <p class="edit-table--field-title">кількість бабін</p>
        <input type="text" class="edit-table--field-inp" formControlName="bab_quantity_color">
      </div>
      <div class="edit-table--field">
        <p class="edit-table--field-title">повна вага</p>
        <input type="text" class="edit-table--field-inp" formControlName="weight_color">
      </div>
      <div class="edit-table--field-note">
        <input type="text" class="edit-table--field-note-inp" placeholder="примітка" formControlName="comment_color">
      </div>
    </div>
    <button class="save-btn" (click)="saveMaterial()" [disabled]="reverseItemData.invalid">
      Зберегти
    </button>
  </div>
</div>
