<div class="page pl61 pr50 mt20 create-order__page">
  <div class="create-order__title">
    <h3 class="create-order__title--number title-text">Замовлення № <input type="text" [(ngModel)]="idOrder"
        (keyup.enter)="getOrder()"></h3>
    <h3 class="create-order__title--date title-text">Дата замовлення
      <div class="calendar-block">
        <input class="create-order__title--calendar" placeholder="yyyy-mm-dd" [minDate]="{year: 2016, month: 1, day: 1}"
          [maxDate]="{year: +todayYear, month: 12, day: 31}" [(ngModel)]="dateToday" ngbDatepicker #d3="ngbDatepicker">
        <button class="btn btn-outline-secondary calendar" (click)="d3.toggle()" type="button"><i
            class="bi bi-calendar"></i></button>
      </div>
    </h3>
  </div>

  <div class="create-order__form mt20" *ngFor="let order of orderForm.controls; let index = index" [formGroup]="order">
    <div class="form__number">
      <input class="number" type="text" readonly [value]="index + 1" disabled>
      <button class="next-btn btn-icon" (click)="addOrder()" [disabled]="orderForm.controls.length - 1 !== index">
        <img class="next-icon icon" src="./assets/img/icons/next.svg" />
      </button>
    </div>

    <div class="form__fields">
      <ng-select [clearSearchOnAdd]="false" appearance="outline" [items]="kodItems" type="text" class="form__field"
        [addTag]="true" [hideSelected]="true" placeholder="код" addTagText="+ нова модель" formControlName="kod_model"
        (search)="changeKodModel($event.term, index)" (change)="chooseKode($event, index)">
      </ng-select>
      <input type="text" class="form__field" placeholder="колір помпона" formControlName="kolor_model">
    </div>

    <div class="form__fields">
      <div class="flex">
        <ng-select [clearSearchOnAdd]="false" appearance="outline" [items]="materialsItems" bindLabel="name_color"
          type="text" class="form__field form__field-material" [addTag]="true" [hideSelected]="true"
          placeholder="матеріал 1" addTagText="+ новий матеріал" formControlName="name_color_1"
          (search)="changeMaterial($event.term, index)" (change)="changeIdColor(order, 'id_color_1', $event)">
        </ng-select>
        <!-- <input type="text" class="form__field form__field-material" placeholder="матеріал 1" formControlName="name_color_1"> -->
        <input type="text" class="form__field--sm" placeholder="%" formControlName="id_color_part_1">
      </div>
      <div class="flex">
        <ng-select [clearSearchOnAdd]="false" appearance="outline" [items]="materialsItems" type="text"
          class="form__field form__field-material" [addTag]="true" bindLabel="name_color" [hideSelected]="true"
          placeholder="матеріал 3" addTagText="+ новий матеріал" formControlName="name_color_3"
          (search)="changeMaterial($event.term, index)" (change)="changeIdColor(order, 'id_color_3', $event)">
        </ng-select>
        <input type="text" class="form__field--sm" placeholder="%" formControlName="id_color_part_3">
      </div>
    </div>

    <div class="form__fields">
      <div class="flex">
        <ng-select [clearSearchOnAdd]="false" appearance="outline" [items]="materialsItems" bindLabel="name_color"
          type="text" class="form__field form__field-material" [addTag]="true" [hideSelected]="true"
          placeholder="матеріал 2" addTagText="+ новий матеріал" formControlName="name_color_2"
          (search)="changeMaterial($event.term, index)" (change)="changeIdColor(order, 'id_color_2', $event)">
        </ng-select>
        <input type="text" class="form__field--sm" placeholder="%" formControlName="id_color_part_2">
      </div>
      <div class="flex">
        <ng-select [clearSearchOnAdd]="false" appearance="outline" [items]="materialsItems" bindLabel="name_color"
          type="text" class="form__field form__field-material" [addTag]="true" [hideSelected]="true"
          placeholder="матеріал 4" addTagText="+ новий матеріал" formControlName="name_color_4"
          (search)="changeMaterial($event.term, index)" (change)="changeIdColor(order, 'id_color_4', $event)">
        </ng-select>
        <input type="text" class="form__field--sm" placeholder="%" formControlName="id_color_part_4">
      </div>
    </div>

    <div class="form__fields">
      <input class="form__field--md" type="text" placeholder="ціна" formControlName="price_model">
      <button class="save-btn forms" (click)="saveOrder(index, order)" *ngIf="order.value.isNew">
        Зберегти
      </button>
      <button class="ok-btn forms" *ngIf="!order.value.isNew">
        <img class="next-icon icon" src="./assets/img/icons/ok-btn.svg" />
      </button>
    </div>

    <div class="form__fields">
      <div class="form__fields--phashes">
        <input type="text" class="form__field--ml pars" placeholder="к-сть пар" formControlName="quantity_pars_model">
        <input type="text" class="phase" disabled formControlName="phase_1">
        <input type="text" class="phase" disabled formControlName="phase_2">
        <input type="text" class="phase" disabled formControlName="phase_3">
      </div>
      <input type="text" class="form__field--ml" placeholder="сума" formControlName="sum_pars">
    </div>

    <div class="form__fields">
      <textarea type="text" class="form__field--textarea" placeholder="примітка"
        formControlName="comment_model"></textarea>
    </div>

    <div class="form__fields">
      <button class="btn-icon" (click)="deleteOrder(index)" [disabled]="orderForm.controls.length <= 1">
        <img class="cancel-icon icon" src="./assets/img/icons/cancel.svg" />
      </button>
    </div>

  </div>
  <div class="sum-up">
    <div class="sum-up--sale">
      <span class="title-text">Знижка </span> <input [(ngModel)]="discount" type="text" class="form__field"
        placeholder="грн">
    </div>
    <div class="sum-up--all">
      <span class="title-text">Всього </span>
      <input type="text" [value]="sumAll()" class="form__field" placeholder="___ / ___ / ___">
    </div>
  </div>
  <div class="date-order">
    <div class="date-order-item">
      <p class="date-order-item--title">Прогнозована дата відправки:</p>
      <div class="calendar-block">
        <input class="form-control" placeholder="yyyy-mm-dd"
          [minDate]="{year: 2016, month: 1, day: 1}" [maxDate]="{year: +todayYear, month: 12, day: 31}"
          [(ngModel)]="dataPlaneOrder" ngbDatepicker #d="ngbDatepicker">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i
            class="bi bi-calendar"></i></button>
      </div>

    </div>
  </div>
  <div class="customer">
    <div class="data-customer" [formGroup]="clientForm">
      <ng-select [clearSearchOnAdd]="false" appearance="outline" [items]="clientDataItems" type="text"
        class="datacustomer--select data-customer--phone" [addTag]="true" [hideSelected]="true" placeholder="телефон"
        addTagText="+ новий номер телефону" formControlName="phone_client"
        (search)="changeClientInfo($event.term, 4, 'ur_phone')" (change)="selectedItemClient($event, 'sl_phone')">
      </ng-select>

      <ng-select [clearSearchOnAdd]="false" appearance="outline" [items]="clientDataItems" type="text"
        class="datacustomer--select data-customer--lastname" [addTag]="true" [hideSelected]="true"
        placeholder="прізвище" addTagText="+ прізвище" formControlName="second_name_client"
        (search)="changeClientInfo($event.term, 3, 'ur_second_name')"
        (change)="selectedItemClient($event, 'sl_second_name')">
      </ng-select>
      <input class="data-customer--firstname" type="text" placeholder="ім'я" formControlName="first_name_client">
      <ng-select [clearSearchOnAdd]="false" appearance="outline" [items]="clientDataItems" type="text"
        class="datacustomer--select data-customer--sity" [addTag]="true" [hideSelected]="true" placeholder="місто"
        addTagText="+ місто" formControlName="sity" (search)="changeClientInfo($event.term, 3, 'ur_sity')"
        (change)="clearDataClient()">
      </ng-select>
      <input class="data-customer--post" type="text" placeholder="№ НП" formControlName="np_number">
      <input class="data-customer--surname" type="text" placeholder="по-батькові" formControlName="surname_client">
      <input class="data-customer--index" type="text" placeholder="індекс" formControlName="zip_code">
      <input class="data-customer--address" type="text" placeholder="адреса" formControlName="street_house_apartment">
      <ng-select [clearSearchOnAdd]="false" appearance="outline" [items]="clientDataItems" type="text"
        class="datacustomer--select data-customer--team" [addTag]="true" [hideSelected]="true" placeholder="команда"
        addTagText="+ команда" formControlName="name_team" (search)="changeClientInfo($event.term, 3, 'ur_team')"
        (change)="clearDataClient()">
      </ng-select>

      <ng-select [clearSearchOnAdd]="false" appearance="outline" [items]="clientDataItems" type="text"
        class="datacustomer--select data-customer--coach" [addTag]="true" [hideSelected]="true" placeholder="тренер"
        addTagText="+ тренер" formControlName="coach" (search)="changeClientInfo($event.term, 3, 'ur_coach')"
        (change)="clearDataClient()">
      </ng-select>
      <input class="data-customer--comment-client" type="text" formControlName="comment_client"
        placeholder="коментар до клієнта">
    </div>

    <div class="check-person">
      <div class="check-person-btn">
        <span class="cutomer-title">тренер</span>
        <button class="btn-icon" (click)="changeCoach(clientForm, 'coach')">
          <img class="cancel-icon icon"
            [src]="clientForm.get('coach').value === clientForm.get('second_name_client').value ? './assets/img/icons/check.svg' : './assets/img/icons/cancel.svg'" />
        </button>
      </div>
      <div class="check-person-btn">
        <span class="cutomer-title">отримувач</span>
        <button class="btn-icon" (click)="isRecipient = !isRecipient">
          <img class="cancel-icon icon"
            [src]="isRecipient ? './assets/img/icons/cancel.svg' : './assets/img/icons/check.svg'" />
        </button>
      </div>
      <button class="mt10 save-btn save-btn--w70" *ngIf="!isSaveClient" (click)="saveClient()">
        Зберегти
      </button>
      <button class="ok-btn forms" *ngIf="isSaveClient">
        <img class="next-icon icon" src="./assets/img/icons/ok-btn.svg" />
      </button>
    </div>
    <div class="data-customer" [formGroup]="recipientForm" *ngIf="isRecipient">
      <ng-select [clearSearchOnAdd]="false" appearance="outline" [items]="clientDataItems" type="text"
        class="datacustomer--select data-customer--phone" [addTag]="true" [hideSelected]="true" placeholder="телефон"
        addTagText="+ новий номер телефону" formControlName="phone_client"
        (search)="changeClientInfo($event.term, 4, 'ur_phone')"
        (change)="selectedItemClient($event, 'sl_phone', recipientForm, 'isSaveRecipient')">
      </ng-select>

      <ng-select [clearSearchOnAdd]="false" appearance="outline" [items]="clientDataItems" type="text"
        class="datacustomer--select data-customer--lastname" [addTag]="true" [hideSelected]="true"
        placeholder="прізвище" addTagText="+ прізвище" formControlName="second_name_client"
        (search)="changeClientInfo($event.term, 3, 'ur_second_name')"
        (change)="selectedItemClient($event, 'sl_second_name', recipientForm, 'isSaveRecipient')">
      </ng-select>
      <input class="data-customer--firstname" type="text" placeholder="ім'я" formControlName="first_name_client">
      <ng-select [clearSearchOnAdd]="false" appearance="outline" [items]="clientDataItems" type="text"
        class="datacustomer--select data-customer--sity" [addTag]="true" [hideSelected]="true" placeholder="місто"
        addTagText="+ місто" formControlName="sity" (search)="changeClientInfo($event.term, 3, 'ur_sity')"
        (change)="clearDataClient()">
      </ng-select>
      <input class="data-customer--post" type="text" placeholder="№ НП" formControlName="np_number">
      <input class="data-customer--surname" type="text" placeholder="по-батькові" formControlName="surname_client">
      <input class="data-customer--index" type="text" placeholder="індекс" formControlName="zip_code">
      <input class="data-customer--address" type="text" placeholder="адреса" formControlName="street_house_apartment">
      <ng-select [clearSearchOnAdd]="false" appearance="outline" [items]="clientDataItems" type="text"
        class="datacustomer--select data-customer--team" [addTag]="true" [hideSelected]="true" placeholder="команда"
        addTagText="+ команда" formControlName="name_team" (search)="changeClientInfo($event.term, 3, 'ur_team')">
      </ng-select>
      <button *ngIf="!isSaveRecipient" class="data-customer--save save-btn" (click)="saveRecipient()">Зберегти</button>
      <button class="data-customer--save save-btn ok-btn forms" *ngIf="isSaveRecipient">
        <img class="next-icon icon" src="./assets/img/icons/ok-btn.svg" />
      </button>
      <input class="data-customer--comment-client" type="text" formControlName="comment_client"
        placeholder="коментар до клієнта">

    </div>
  </div>
  <div class="finished-order">
    <textarea name="" class="finished-order--comment" [(ngModel)]="commentOrder"
      placeholder="коментар до замовлення"></textarea>
    <div class="finished-order--btns">
      <button class="finished-order--btn edit"
        [disabled]="isNew || !((isSaveClient && isSaveRecipient || !isRecipient) && dataPlaneOrder && clientForm.valid && orderForm.valid)"
        (click)="saveAll('edit')">Редагувати</button>
      <button class="finished-order--btn" [ngClass]="{'done': !fulfilledOrder, 'wave': fulfilledOrder}"
        (click)="makeOrderDone()">Виконано</button>
      <button class="finished-order--btn malachite" *ngIf="!doneOrder" (click)="saveAll()"
        [disabled]="!isNew || !((isSaveClient && isSaveRecipient || !isRecipient) && dataPlaneOrder && clientForm.valid && orderForm.valid)">Оформити
        замовлення</button>
      <button class="finished-order--btn wave" *ngIf="doneOrder">Оформлено</button>
      <button class="finished-order--btn teal-blue" (click)="copyScore()">Виставити рахунок</button>
    </div>
  </div>
</div>

<div *ngIf="isShowSpinner" class="d-flex justify-content-center spinner-wrapper">
  <div class="spinner-grow spinner-border-sm" role="status" aria-hidden="true">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<app-alert *ngIf="alert.isShow" [type]="alert.type" [message]="alert.message" (closed)="alertChange($event)"></app-alert>