.create-order
  &__page
    margin-left: 5rem
  &__title
    display: flex
    font-size: 16px
    font-weight: 600
    line-height: 12px
    align-items: center
    justify-content: flex-start
    &--number
      & input
        width: 86px
        height: 32px
        background: #FFFFFF
        border: 0.5px solid #203B4A
        box-sizing: border-box
        color: #000
        font-weight: 600
        font-size: 20px
        line-height: 12px
        text-align: center
    &--date
      display: flex
      align-items: center
      margin-left: 20px
    &--calendar
      margin-left: 5px
      & ::ng-deep
        input
          width: 132px
          height: 32px
          background: #FFFFFF
          border: 0.5px solid #203B4A
          box-sizing: border-box
          font-weight: 600
          font-size: 20px
          line-height: 12px
          color: #727272
          text-align: center
.create-order
  &__form
    display: flex

.form__number
  display: flex
  flex-direction: column
  & .number
    width: 32px
    height: 26px
    background: #FFFFFF
    border: 0.5px solid #203B4A
    box-sizing: border-box
    text-align: center

.btn-icon
  width: 25px
  height: 25px
  border: none
  background: transparent
  padding: 0
  align-self: center
  margin-top: 5px
  &:active
    transform: scale(0.8)

.form
  &__fields
    display: flex
    flex-direction: column
    margin-left: 10px
  &__field
    width: 178px
    height: 26px
    background: #FFFFFF
    border: 0.5px solid #203B4A
    box-sizing: border-box
    padding-left: 6px
    &--ml
      width: 128px
      height: 26px
      background: #FFFFFF
      border: 0.5px solid #203B4A
      box-sizing: border-box
      &:first-child
        margin-bottom: 7px
    &--md
      width: 79px
      height: 26px
      background: #FFFFFF
      border: 0.5px solid #203B4A
      box-sizing: border-box
    &--sm
      width: 46px
      height: 26px
      background: #FFFFFF
      border: 0.5px solid #203B4A
      box-sizing: border-box
    &:first-child
      margin-bottom: 7px
    &--textarea
      width: 262px
      height: 57px
      background: #FFFFFF
      border: 0.5px solid #203B4A
      box-sizing: border-box
      text-align: start
      resize: none


.title-text
  font-weight: 600
  font-size: 16px
  line-height: 12px
