.nav-item
  text-align: center
  border: 1px solid black
  border-radius: 20px 20px 0px 0px
  margin: 0px

  @media (max-width: 992px)
    border: none
    text-align: start
    background: none !important

.nav-item
  width: 165px
  height: 33px
  border-radius: 16px
  font-weight: 600
  font-size: 14px
  line-height: 16px
  text-align: center
  border: none
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  margin-right: 15px
  @media (max-width: 992px)
    justify-content: flex-start
    width: 230px
  &:hover
    opacity: 0.8

.gradient
  &--base-page
    background: linear-gradient(180deg, #203B4A 12.5%, rgba(49, 174, 244, 0.44) 100%)
  &--create-page
    background: linear-gradient(180deg, #600562 10.42%, rgba(182, 101, 203, 0.44) 100%)
  &--search-page
    background: linear-gradient(180deg, #0B480E 8.33%, rgba(47, 255, 13, 0.44) 100%)
  &--analyst-page
    background: linear-gradient(180deg, #49350E 12.5%, rgba(247, 182, 15, 0.44) 100%)
  &--reserve-page
    background: linear-gradient(180deg, #590F13 12.5%, rgba(247, 0, 0, 0.44) 100%)
  &--finances-page
    background: linear-gradient(180deg, #2C204D 12.5%, rgba(76, 49, 244, 0.44) 100%)

.navbar
  box-shadow: rgba(50, 50, 93, 0.25) 2px 4px 18px 7px inset, rgba(0, 0, 0, 0.3) -1px -20px 20px 20px
  padding: 0px
  position: absolute
  top: 0
  width: 100%
  z-index: 20
  background: #e8e8e8

.nav-link
  padding-left: 5px !important
  padding-right: 5px !important
  font-size: 14px
  color: #fff 
  font-weight: 600px !important
  line-height: 16px
  &.active
    text-decoration: underline
  &:hover
    text-decoration: none
    color: #000000
  @media (max-width: 992px)
    color: #2e2b2b !important

.container-fluid
  display: flex
  flex-direction: row-reverse
  padding: 0px
  padding-left: 20px
  @media (max-width: 992px)
    flex-direction: row
     padding-left: 0

.navbar-brand
  color: #fff
  font-size: 25px
  letter-spacing: 2px
  font-weight: 900
  text-shadow: 1px 1px 0px #5f0370, 1px 1px 0px #9809b1, 2px 2px 0px #d900ff

.blur
  z-index: 15


::ng-deep
  .navbar-toggler:focus
    box-shadow: none