<div class="settings-wrapper settings">
  <div class="settings-type">
    <div class="settings-material" *ngIf="paramsInfo?.hasOwnProperty('modelsData'); else modelsDataNo">
      <p class="settings-title">Моделі</p>
      <div class="settings-material--list">
        <table class="table">
          <thead>
            <tr>
              <th>Код</th>
              <th>Значення</th>
            </tr>
           </thead>
           <tbody>
            <ng-container *ngFor="let modelType of Object.keys(paramsInfo.modelsData.parameter_str); let i = index">
              <tr>
                <td class="code">{{modelType}}</td>
                <td>{{ paramsInfo.modelsData.parameter_str[modelType] }}</td>
                <td><button type="button" class="btn-close delete-model" aria-label="Close" (click)="deleteModel(modelType)"></button></td>
              </tr>
            </ng-container>
            <tr *ngIf="isAddNewModel" class="add-new-model" [formGroup]="newModel">
              <td><input type="text" formControlName="id" class="id code"></td>
              <td><input type="text" formControlName="type" class="type"></td>
            </tr>
           </tbody>
        </table>
        <div class="settings-other--btns">
          <button class="settings-other--btn add" (click)="addMaterial()">Добавити поле</button>
          <button class="settings-other--btn update" (click)="updateSetting('modelsData')" [disabled]="!(newModel && newModel.valid)">Оновити</button>
        </div>
      </div>
    </div>

    <ng-template #modelsDataNo>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Опис</span>
        <input type="text" placeholder="Опис до моделей" #inputDescriptionModel class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
      <button class="btn btn-dark btn-create-setting" [disabled]="inputDescriptionModel.value.length" (click)="createSettings('modelsData', inputDescriptionModel)">Створити налаштування моделей</button>
    </ng-template>
    <div class="settings-other">
      <ng-container *ngIf="paramsInfo?.hasOwnProperty('weekends'); else weekendsDataNo">
        <div class="settings-other--block">
          <p class="settings-title">Вихідні</p>
          <p class="settings-description">{{ paramsInfo.weekends.parameter_description }}</p>
          <ng-select 
            [(ngModel)]="paramsInfo.weekends.parameter_str"
            placeholder="Вихідний день"
            class="select-weekday" 
            [items]="weekDays" 
            bindLabel="label" 
            bindValue="id" 
            [multiple]="true" 
            [searchable]="false">
          </ng-select>
          <div class="settings-other--btns">
            <button class="settings-other--btn update" (click)="updateSetting('weekends')">Оновити</button>
          </div>
        </div>
      </ng-container>
      <ng-template #weekendsDataNo>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Опис</span>
          <input type="text" placeholder="Опис до вихідних" #inputDescriptionWeekend class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <button class="btn btn-dark btn-create-setting" [disabled]="inputDescriptionWeekend.value.length" (click)="createSettings('weekends', inputDescriptionWeekend)">Створити налаштування вихідних</button>
      </ng-template>

      <ng-container *ngIf="paramsInfo?.hasOwnProperty('exclusionData'); else exclusionDataNo">
        <div class="settings-other--block">
          <p class="settings-title">Неробочі дні</p>
          <div class="calendar-block">
            <mat-calendar #calendar ></mat-calendar>
            <!-- <ejs-calendar [(ngModel)]='paramsInfo.exclusionData.parameter_str' [isMultiSelection]='true'></ejs-calendar> -->
          </div>
          <div class="settings-other--btns">
            <button class="settings-other--btn update" (click)="updateSetting('exclusionData')">Оновити</button>
          </div>
        </div>
      </ng-container>
      <ng-template #exclusionDataNo>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Опис</span>
          <input type="text" placeholder="Опис до неробочих днів" #inputDescription class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <button class="btn btn-dark btn-create-setting" [disabled]="inputDescription.value.length" (click)="createSettings('exclusionData', inputDescription)">Створити налаштування неробочих днів</button>
      </ng-template>
    </div>
  </div>
</div>
