@import '../../variables'

.table-first, .table-second
  display: flex
  flex-direction: column
  width: 457px !important
  overflow: unset
  table
    border: none
  &--save
    width: 89px
    align-self: flex-end
    margin-top: 10px
  tr
    height: 26px !important
    text-align: center
    line-height: 13px
    border-style: none
    border-width: none
    border-color: none
  .date
    min-width: 100px 
    width: 100px
  .expense
    width: 103px
    min-width: 103px
  .sum
    width: 114px
  .comment
    width: 283px
  .form
    width: 103px
  .order
    width: 113px
  .sum
    width: 123px

.data-input 
  width: 100%
  height: 30px
  border: none
  background: none
  &.edit-field
    background: #d5d5d58a
    border: 0.5px solid #9e9e9e
.money
  margin-left: 54px
  margin-right: 33px
  width: 110px
  &-header
    width: 104px
    height: 18px
    font-family: 'Futura New'
    font-style: normal
    font-weight: 700
    font-size: 18px
    line-height: 12px
    color: #727272
    text-align: center
    width: 100%
    text-transform: uppercase
    margin-bottom: 6px
  &-selects
    width: auto
  &-select
    margin-bottom: 12px
    &--header
      height: 12px
      font-family: 'Futura New'
      font-style: normal
      font-weight: 400
      font-size: 16px
      line-height: 12px
      color: #727272
      margin-bottom: 4px
      padding-left: 5px
    &--input
      width: 110px
      height: 25px
      background: #FFFFFF
      border: 0.5px solid #727272
      border-radius: 25px


.apply
  width: 110px
  height: 25px
  background: $btn-save
  border-radius: 25px
  font-size: 13px
  border: none
  color: #fff
  text-align: center
  text-transform: uppercase
  margin-top: 12px

.calendar 
  width: 110px
  height: 25px
  background: #FFFFFF
  border: 0.5px solid #727272
  border-radius: 25px
  &:active
    border: 0.5px solid #727272
  &:focus
    border: 0.5px solid #727272
  &:focus-visible
    border: 0.5px solid #727272
    outline: none

.calendar-block
  display: flex
  width: 100%
.finance-page
  display: flex
  margin-top: 4.5rem

.old 
  background: #ECE9A9
  opacity: 1
  color: #111
.btns-actions
  border: none
  border-left: 0.5px solid #727272
  padding-left: 3px
  width: 25px
  & .edit-actions
    display: flex
.edit-icon
    opacity: 0.5
    height: 15px
    width: 15px
    &:hover
      opacity: 1

.statistics
  margin-top: 39px
  &--table
    border: none
    tr, th
      height: 26px !important
      text-align: center
      line-height: 13px
    .date
      min-width: 141px
    .payments
      min-width: 169px
    .outlaies
      min-width: 121px
    .balans
      min-width: 169px
  &--btn
    width: 140px
    height: 35px
    border: none
    border-radius: 17.5px
    font-weight: 600
    font-size: 16px
    line-height: 16px
    color: #fff
    background: $btn-save
    margin-bottom: 15px
    text-transform: uppercase
    &.purple
      background: #5B65BF


table 
  border-spacing: 0px

.divided
  width: auto
  border: 1px solid #c6c6c6
  margin: 25px 0
::ng-deep
  .ngb-dp-day
    &:hover
      border-radius: 0.25rem
      background: #e0e0e0
  .table-bordered th, .table-bordered td 
    border-color: #5d5d5d
    border-style: solid
    border-width: 1px
  .money .ng-dropdown-panel
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset
  .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input
    top: 0
  .ng-select.ng-select-disabled>.ng-select-container 
    background-color: transparent !important
  .ng-select .ng-select-container .ng-value-container
    padding-left: 3px
  .money-select
    .ng-select .ng-select-container
      padding-left: 5px
      border-radius: 25px
  .ng-select .ng-select-container
    min-height: auto !important
    background: none
    border: none

  .ng-select.ng-select-single 
    .ng-select-container
      height: auto !important
    &.data-input
      .ng-select-container
        height: 100% !important