<div class="page pl63 mt27">
  <div class="table-responsive table table-first">
      <table class="table table-lg table-bordered mb-0 border-primary">
        <thead>
        <tr class="center-data-second">
          <th scope="col" sortable="id_order" class="date">дата</th>
          <th scope="col" sortable="id_order" class="form">форма</th>
          <th scope="col" sortable="id_order" class="order">№ замовлення</th>
          <th scope="col" sortable="id_order" class="sum">сума</th>
        </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of mainItems">
            <tr>
              <td>{{ item.data_payment }}</td>
              <td>{{ item.metod_payment	}}</td>
              <td>{{ item.id_order	}}</td>
              <td>{{ item.payment	}}</td>
            </tr>
      </ng-container>
        </tbody>
      </table>
  </div>
  <div class="money"></div>
  <div class="table-second"></div>
</div>