/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'

body
  height: 100%
  background: #ebe8e8
.mw130
  min-width: 140px !important
  max-width: 140px !important
.mw80
  min-width: 120px !important
.pd0
  padding: 0px !important

.mt10
  margin-top: 10px !important
.mt20
  margin-top: 20px
.w70
  width: 90px

.h20
  height: 20px

.bb_solid
  border-bottom: 0.5px solid #111 !important
  &:last-child
    border-bottom: none !important

.center-data
    text-align: center
    vertical-align: inherit

.icon
  height: 25px
  width: 25px
button[disabled]
  opacity: .5
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'
